
@{
    ViewBag.Title = "GettingStarted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Getting Started</h2>
<p>Here is a video of getting the application configured</p>
<video width="800" controls="controls">
    <source src='~/Media/GettingStarted.mp4' type='video/mp4' />
    Your browser does not support the video tag.
</video>

